<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- back button, manual -->
    <ion-buttons slot="start">
      <ion-button routerLink="/transaksi">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Detail Transaksi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">transaksi-detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--if transaction found-->
  <div class="header-nota" *ngIf="transaction">
    <h1>Transaksi #{{ transaction.id }}</h1>
    <p>Tanggal: {{ transaction.date }}</p>
  </div>
  
  <!--Daftar barang-->
  <ion-list inset="true" *ngIf="transaction">
    <div class="list-header">
      <strong>Daftar Barang</strong>
    </div>

    <ion-item *ngFor="let item of transaction.item">
      <ion-label>
        <h3>{{ item.name }}</h3>
        <p>{{ item.quantity }} x Rp. {{ item.price | number }}</p>
      </ion-label>

      <!--subtotoal-->
      <div class="item-subtotal">
        Rp. {{ item.quantity * item.price | number }}
      </div>
    </ion-item>
  </ion-list>

  <!--Total all-->
  <div class="price-total" *ngIf="transaction">
    <div class="total-label">
      Total
    </div>

    <div class="total-price">
      Rp. {{ transaction.total | number }}
    </div>
  </div>

  <!--transaction not found-->
  <div class="empty-state" *ngIf="!transaction">
    <ion-icon name="receipt-outline" size="large"></ion-icon>
    <p>Transaksi tidak ditemukan.</p>
  </div>

</ion-content>
