<ion-header [translucent]="true">
  <ion-toolbar>
    <!--back button, manual-->
    <ion-buttons slot="start">
      <ion-button routerLink="/produk">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Detail Produk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">produk-detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="product !== null">
    <div class="product-detail">
      <div class="image-container">
        <ion-img [src]="product.url === '' ? defaultImage : product.url" class="product-image"
          [alt]="product.name"></ion-img>
      </div>

      <div class="product-info padding">
        <ion-card-header>
          <ion-card-subtitle>{{ product.brand }}</ion-card-subtitle>
          <div class="row-flex">
            <ion-card-title>{{ product.name }}</ion-card-title>
            <ion-label class="price-text">{{ formatPrice(product.sellPrice) }}</ion-label>
          </div>
        </ion-card-header>

        <ion-card-content>
          <ion-item class="net-content">
            <ion-label>Isi Bersih</ion-label>
            <ion-label slot="end">{{ product.net }}</ion-label>
          </ion-item>

          <div class="row-flex">
            <ion-badge [color]="product.stock === 0 ? 'danger' : product.stock < 10 ? 'warning' : 'medium'">
              Stok: {{ getStock(product) }}
            </ion-badge>
            <ion-button *ngIf="!isInCart(product)" (click)="addToCart(product)" [disabled]="getStock(product) === 0"
              color="tertiary"><ion-icon name="cart"></ion-icon></ion-button>
            <div class="num-up-down" *ngIf="isInCart(product)">
              <span *ngIf="getQuantity(product) > 0">{{ formatPrice(getSubtotal(product)) }}</span>
              <ion-button *ngIf="getQuantity(product) > 10" fill="clear" size="large"
                (click)="updateQuantity(product, -10)">
                <ion-icon name="remove-circle-outline"></ion-icon><span class="ten-text">10</span>
              </ion-button>
              <ion-button fill="clear" size="large" (click)="updateQuantity(product, -1)">
                <ion-icon name="remove-circle-outline"></ion-icon>
              </ion-button>
              <span>{{ getQuantity(product) }}</span>
              <ion-button fill="clear" size="large" (click)="updateQuantity(product, 1)">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="large" (click)="updateQuantity(product, 10)">
                <ion-icon name="add-circle-outline"></ion-icon><span class="ten-text">10</span>
              </ion-button>
              <ion-button *ngIf="getQuantity(product) > 0" fill="clear" color="danger" class="btn-delete-item"
                (click)="removeItem(product.id)">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
          </div>

          <hr>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Informasi Produk</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div class="info-row">
                <ion-label>Kategori</ion-label>
                <ion-label>{{ getCategoryName(product.category) }}</ion-label>
              </div>
              <div class="info-row">
                <ion-label>Merek</ion-label>
                <ion-label>{{ product.brand }}</ion-label>
              </div>
              <div class="info-row">
                <ion-label>Isi Bersih</ion-label>
                <ion-label>{{ product.net }}</ion-label>
              </div>
              <div class="info-row">
                <ion-label>Sisa Stok</ion-label>
                <ion-label>{{ getStock(product) }}</ion-label>
              </div>
              <div class="info-row">
                <ion-label>Harga Beli</ion-label>
                <ion-label>{{ formatPrice(product.buyPrice) }}</ion-label>
              </div>
              <div class="info-row">
                <ion-label>Harga Jual</ion-label>
                <ion-label>{{ formatPrice(product.sellPrice) }}</ion-label>
              </div>
              <div class="info-row">
                <ion-label>Estimasi Keuntungan</ion-label>
                <ion-label>{{ formatPrice(getProfit(product)) }}</ion-label>
              </div>
              <ion-card-content *ngIf="product.description">
                <ion-item class="desc-area">Deskripsi Produk</ion-item>
                <ion-item lines="none" class="desc-area desc-content ten-text">{{ product.description }}</ion-item>
              </ion-card-content>
            </ion-card-content>
          </ion-card>

          <div class="row-flex">
            <ion-button [routerLink]="['/produk/produk-form', product.id]" color="tertiary">Edit Produk</ion-button>

            <div class="row-flex">
              <ion-button *ngIf="stockToAdd === 0" (click)="addStock()" color="tertiary">Tambah Stok</ion-button>
              <div class="num-up-down" *ngIf="stockToAdd > 0">
                <ion-button *ngIf="stockToAdd > 10" fill="clear" size="large" (click)="updateStock(-10)">
                  <ion-icon name="remove-circle-outline"></ion-icon><span class="ten-text">10</span>
                </ion-button>
                <ion-button fill="clear" size="large" (click)="updateStock(-1)">
                  <ion-icon name="remove-circle-outline"></ion-icon>
                </ion-button>
                <span>{{ stockToAdd }}</span>
                <ion-button fill="clear" size="large" (click)="updateStock(1)">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="large" (click)="updateStock(10)">
                  <ion-icon name="add-circle-outline"></ion-icon><span class="ten-text">10</span>
                </ion-button>
              </div>
              <ion-button color="tertiary" *ngIf="stockToAdd !== 0" (click)="saveStockToAdd(product)">
                Simpan Stok
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </div>
    </div>
  </ion-card>
</ion-content>