.search-bar {
    margin-top: 16px;
}

.product-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product-image {
    width: 100%;
    height: 300px;
    background-color: #f1f1f1;
    object-fit: contain;
}

.ten-text {
    font-size: small;
    color: black;
}

.btn-tambah-produk {
  position: fixed;
  bottom: 16px;
  right: 20px;
  //z-index: 10;

  --border-radius: 50%;
  width: 56px;
  height: 56px;
}