<ion-header [translucent]="true">
  <ion-toolbar>
    <!--drawer set-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Produk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">produk</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--search bar-->
  <ion-list lines="full">
    <ion-item>
      <ion-input labelPlacement="floating" label="Cari Produk" [(ngModel)]="keyword" (keyup)="filter()"></ion-input>
    </ion-item>
  </ion-list>

  <!--empty state default-->
  <div class="empty-state" *ngIf="products.length === 0">
    <ion-icon name="cube-outline" size="large"></ion-icon>
    <p>Belum ada produk.</p>
  </div>

  <!--product list-->
  <ion-grid>
    <ion-row class="product-row" *ngFor="let products2 of chunkArray(products, gridColumn); let i = index">
      <ion-col *ngFor="let product of products2; let i2 = index">
        <ion-card button [routerLink]="['/produk/produk-detail', (i*2+i2)]">
          <ion-img [src]="product.url == '' ? defaultImage : product.url" class="product-image"
            alt="product.name"></ion-img>
          <ion-card-header>
            <div class="row-flex">
              <ion-card-title>{{ product.brand }} {{ product.name }}</ion-card-title>
              <ion-badge [color]="product.stock === 0 ? 'danger' : product.stock < 10 ? 'warning' : 'medium'">
                Stok: {{ product.stock }}
              </ion-badge>
            </div>
            <ion-card-subtitle>{{ product.quantity }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="row-flex">
              <ion-label class="product-price">{{ formatPrice(product.sellPrice) }}</ion-label>
              <ion-button *ngIf="!isInCart(product)" (click)="addToCart(product)">Tambah ke Keranjang</ion-button>
              <div class="row-flex" *ngIf="isInCart(product)">
                <div class="qty-controller">
                  <ion-button fill="clear" size="large">
                    <ion-icon name="remove-circle-outline"></ion-icon>
                  </ion-button>
                  <span>{{ quantity }}</span>
                  <ion-button fill="clear" size="large">
                    <ion-icon name="add-circle-outline"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--btn tambah produk-->
  <ion-button class="btn-tambah=produk" shape="round" routerLink="/produk/produk-form">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
</ion-content>