<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Daftar Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produk</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Search Bar Katalog -->
  <ion-item lines="none" class="search-bar">
    <ion-searchbar [(ngModel)]="keyword" (keyup)="filter()" placeholder="Cari Produk" (ionFocus)="searchFocus = true"
      (ionBlur)="searchFocus = false"></ion-searchbar>
  </ion-item>

  <ion-list lines="full">
    <ng-container *ngIf="searchFocus">
      <ion-item *ngFor="let product of products" (mousedown)="setInput(product.name)">{{ product.name }}</ion-item>
    </ng-container>
  </ion-list>

  <!-- Empty State Default -->
  <div class="empty-state ion-text-center ion-padding" *ngIf="products.length === 0">
    <ion-icon name="cube-outline" size="large"></ion-icon>
    <p>Belum ada produk.</p>
  </div>

  <!-- Product List Grid -->
  <ion-grid>
    <ion-row class="product-row" *ngFor="let products2 of chunkArray(products, gridColumn)">
      <ion-col *ngFor="let product of products2">
        <ion-card button [routerLink]="['/produk/produk-detail', product.id]">
          <ion-img [src]="product.url || defaultImage" class="product-image" [alt]="product.name"></ion-img>

          <ion-card-header>
            <div class="row-flex">
              <ion-card-title>{{ product.brand }} {{ product.name }}</ion-card-title>
              <ion-badge [color]="(product.stock) === 0 ? 'danger' : (product.stock) < 10 ? 'warning' : 'medium'">
                Stok: {{ product.stock }}
              </ion-badge>
            </div>
            <ion-card-subtitle>{{ product.net }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <div class="row-flex">
              <ion-label class="product-price">{{ formatPrice(product.sellPrice) }}</ion-label>

              <ion-button *ngIf="!isInCart(product)" (mousedown)="addToCart(product)" [disabled]="product.stock === 0"
                color="tertiary"><ion-icon name="cart"></ion-icon></ion-button>
              <div class="num-up-down" *ngIf="isInCart(product)">
                <ion-button *ngIf="getQuantity(product) > 10" fill="clear" size="large"
                  (mousedown)="updateQuantity(product, -10)">
                  <ion-icon name="remove-circle-outline"></ion-icon><span class="ten-text">10</span>
                </ion-button>
                <ion-button fill="clear" size="large" (mousedown)="updateQuantity(product, -1)">
                  <ion-icon name="remove-circle-outline"></ion-icon>
                </ion-button>
                <span>{{ getQuantity(product) }}</span>
                <ion-button fill="clear" size="large" (mousedown)="updateQuantity(product, 1)">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="large" (mousedown)="updateQuantity(product, 10)">
                  <ion-icon name="add-circle-outline"></ion-icon><span class="ten-text">10</span>
                </ion-button>
                <ion-button *ngIf="getQuantity(product) > 0" fill="clear" color="danger" class="btn-delete-item" (mousedown)="removeItem(product.id)">
                  <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--btn tambah produk-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-button class="btn-tambah-produk" shape="round" routerLink="/produk/produk-form">
      <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-fab>
</ion-content>