<ion-app>
  <!--Drawer Menu-->
  <ion-menu auto-hide="true" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <!--Profil-->
        <ion-item routerLink="/profil" menuClose>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Profil</ion-label>
        </ion-item>

        <!--Pengaturan-->
        <!--Dropdown-->
        <ion-accordion-group>
          <ion-accordion value="pengaturan">
            <ion-item slot="header">
              <ion-icon name="settings" slot="start"></ion-icon>
              <ion-label>Pengaturan</ion-label>
            </ion-item>
            
            <div class="ion-padding" slot="content">
              <ion-item>
                <ion-icon name="moon" slot="start"></ion-icon>
                <ion-label>Dark Mode</ion-label>
                <ion-toggle [checked]="isDark" (ionChange)="toggleTheme($event)" slot="end"></ion-toggle>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <!--Tentang-->
        <ion-item routerLink="/tentang" menuClose>
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <ion-label>Tentang</ion-label>
        </ion-item>

        <!--Logout-->
        <ion-item routerLink="/logout" menuClose>
          <ion-icon name="power" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <!--Bottom Tab Menu-->
  <ion-tabs>
    <!--Set Bottom Tab Bar Container-->
    <ion-tab-bar slot="bottom">
      <!--Tab Home-->
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <!--Tab Produk-->
      <ion-tab-button tab="produk">
        <ion-icon name="cube"></ion-icon>
        <ion-label>Produk</ion-label>
      </ion-tab-button>

      <!--Tab Transaksi-->
      <ion-tab-button tab="transaksi">
        <ion-icon name="receipt"></ion-icon>
        <ion-label>Transaksi</ion-label>
      </ion-tab-button>

      <!--Tab Keranjang-->
      <ion-tab-button tab="keranjang">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Keranjang</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-app>