<ion-header [translucent]="true">
  <ion-toolbar>
    <!--drawer set-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>
      Keranjang
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">keranjang</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Toggle Tambah barang + search -->
  <ion-button fill="clear">
    <ion-icon name="search" slot="start"></ion-icon>
  </ion-button>

  <!--search bar (collapsible), muncul if toggle diklik-->
  <ion-searchbar placeholder="Cari Barang untuk Ditambahkan" animated="true" [(ngModel)]="keyword" (ionInput)="filter()"></ion-searchbar>

  <!--hasil pencarian-->
  <ion-list>
    <ion-item button>
      <ion-label>=NAMA PRODUK HASIL CARI=</ion-label>
      <p>Rp. =HARGA PRODUK= - stok: =STOK PRODUK=</p>
    </ion-item>
  </ion-list>

<!--Default kalau keranjang kosong-->
<div class="empty-state">
  <ion-icon name="cart-outline" size="large"></ion-icon>
  <p>Keranjang masih kosong</p>
</div>

<!--list item keranjang-->
<ion-list>
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h2>=NAMA PRODUK=</h2>
        <p>Harga: Rp. =HARGA PRODUK=</p>
        <p>Stok tersedia: Rp. =STOK PRODUK=</p>
        <p><strong>Subtotal: Rp. =SUBTOTAL=</strong></p>
      </ion-label>

      <!--QTY controller-->
      <div slot="end" class="qty-controller">
        <ion-button fill="clear" size="small">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      
        <span>=QTY PLACEHOLDER=</span>

        <ion-button fill="clear" size="small">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    
    <!--btn delete barang dari keranjang-->
    <ion-button fill="clear" color="danger" slot="end">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>

  </ion-item-sliding>
</ion-list>

  <!--Total keseluruhan-->
  <ion-item lines="none" class="total-price">
    <ion-label>
      <h1>Total: Rp. =TOTAL BELANJA=</h1>
    </ion-label>
  </ion-item>

  <!--btn konfirmasi Transaksi-->
  <ion-button expand="block">
    <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
    Konfirmasi Transaksi
  </ion-button>

  <!--btn batal transaksi-->
  <ion-button expand="block" fill="outline" color="medium">
    <ion-icon slot="start" name="close-circle-outline"></ion-icon>
    Batal Transaksi
  </ion-button>

</ion-content>
