<ion-header [translucent]="true">
  <ion-toolbar>
    <!--drawer set-->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>
      Riwayat Transaksi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">transaksi</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Default display saat belum ada transaksi-->
  <div class="empty-state" *ngIf="history.length === 0">
    <ion-icon name="receipt-outline" size="large"></ion-icon>
    <p>Belum ada riwayat transaksi.</p>
  </div>

  <!--List item transaksi-->
  <ion-list *ngIf="history.length > 0">
    <ion-item class="slide" button detail="true" *ngFor="let trx of history"
      [routerLink]="['/transaksi/transaksi-detail', trx.id]">
      <ion-label>
        <h2>Transaksi #{{ trx.id }}</h2>
        <p>Tanggal: {{ trx.date }}</p>
        <p><strong>Total: Rp. {{ trx.total | number }}</strong></p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>